<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="signin-card register-card forgot-password-card">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form', class: 'signin-form' }) do |f| %>
        <h3 class="title">Forgot your password?</h3>
        <p>We'll send password reset instructions.</p>
        <%= devise_error_messages! %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
        <%= f.submit 'Reset Password', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
