<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="signin-card">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'signin-form' }) do |f| %>
        <h3 class="title">Welcome</h3>
        <%= devise_error_messages! %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <%= f.submit 'Sign in', class: 'btn btn-primary btn-block' %>
      <% end %>
      <div class="forgot">
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-simple btn-primary' %>
      </div>
    </div>
  </div>
</div>
